@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html, body{
  
    background-image: linear-gradient(180deg, black, rgb(28, 46, 46), rgb(21, 39, 39), rgb(37, 71, 70));
    color: white;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    

}
header{
    margin: auto;
    padding: 10px;
    height: 50px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}
header > a#contato {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.679);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.173);
    text-align: center;
}

header > a#contato > p#email{
    font-size: .7em;
}
header > a > img {
    margin-top: 4px;
    margin-left: 5px;
    flex: 1 1 150px; 
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    height: 25px;
}
header > a#contato:hover{
    background-image: linear-gradient(to bottom, rgb(247, 247, 188), rgba(133, 248, 242, 0.692));
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.679);
    border-radius: 10px;
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.173);
}
header > a > img:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 5px white;
}

main{
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
}
main > h1 {
    font-family: "Kanit", sans-serif;
    font-size: 2em;
    padding: 20px;
    margin: auto;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.555);
}

div#perfil > img{
    height: 300px;
    background-image: radial-gradient(rgb(247, 247, 188), rgba(133, 248, 242, 0.692));
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(247, 247, 188, 0.404);
}
div#sobre{
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div#sobre > h2{
    font-family: "Kanit", sans-serif;
    font-size: 2em;
    padding: 20px;
    margin: auto;
    width: 500px;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.555);
}

div#sobre > ul > li{
    display: inline;
    cursor: pointer;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.336);
}

div#sobre > ul > li:hover{
    background-image: linear-gradient(to bottom, rgb(247, 247, 188), rgba(133, 248, 242, 0.692));
    color: black;
}

section#bio{
    background-color: rgb(231, 231, 231);
    color: black;
    width: 90vw;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    text-indent: 50px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.466);
}

section#pro_conteudo{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 90vw;
    height: 600px;
    background-color: rgb(231, 231, 231);
    color: black;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.651); 
}
section#projetos > h1{
    border: 1px solid black;
    
}

section#projetos {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 1 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin: 10px;

    border: 1px solid black;
}
div#blog{
    width: 50vw;
    height: 150px;
    margin: 5px;
    border: 1px solid black;
}
div#galeria{
    width: 50vw;
    height: 150px;
    border: 1px solid black;
}
div#login{
    width: 50vw;
    height: 150px;
    border: 1px solid black;
}

section#redes_sociais {
    margin: 30px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    
    
    /* border: 1px solid black; */
}

section#redes_sociais > div > img{
    height: 50px;
    padding: 5px;
    background-color: rgb(37, 71, 70);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.555);
    z-index: 9999;
}

section#redes_sociais > div.padrao {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    align-self: center;
    padding: 10px;
}

/* Botão de redes socias */
section#redes_sociais > div.padrao > a {
    display: none;
    width: 120px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    /* box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.555); */
    text-align: center;
    text-decoration: none;
    color: white;

    position: relative;
    transform: translate(50%, 50%);
    top: -20px;
    left: -70px;
}


section#redes_sociais > div.padrao > a {
    transition: all 2s;
}
/* Botoes de redes socias animados */
/* Facebook */
section#redes_sociais > div#face > img:hover{
    background-color: rgb(88, 173, 243) ;  
}
section#redes_sociais > div#face > a:hover{
    background-color: rgb(88, 173, 243);
}
/* Instagram */
section#redes_sociais > div#insta > img:hover{
    background-image: linear-gradient(45deg, #fcd347, #fea843, #f87652, #ec5572, #d84683, #ad40a3, #6d39c6);
}
section#redes_sociais > div#insta > a:hover{
    background-image: linear-gradient(45deg, #fcd347, #fea843, #f87652, #ec5572, #d84683, #ad40a3, #6d39c6);
}
/* Whatsapp */
section#redes_sociais > div#whats > img:hover{
    background-color: rgb(93, 253, 160) ;  
}
section#redes_sociais > div#whats > a:hover{
    background-color: rgb(93, 253, 160) ;
    color: black; 
}
/* Github */
section#redes_sociais > div#git > img:hover{
    background-color: rgb(142, 102, 253) ;  
}
section#redes_sociais > div#git > a:hover{
    background-color: rgb(142, 102, 253) ;
}
/* linkedin */
section#redes_sociais > div#lk > img:hover{
    background-color: #0a8cd2 ;  
}
section#redes_sociais > div#lk > a:hover{
    background-color: #0a8cd2 ;
}

